.saveFormButton, .cancelFormButton  {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
   width: 6rem;
   text-decoration:none;
} 

.header {
  margin-top: 1.2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.header > h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.right{
  display: flex;
  justify-content: flex-start; 
   align-items: center;
}

.left{
  display: flex;
  justify-content: flex-end; 
   align-items: center;

}


.inputText {
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: none;

} 

@media (max-width: 720px) {
  .inputWrapper {
    max-width: 8rem;
  }
}

