

.accordion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.accordionItem {
  width: 80%;
  /* margin: 2rem; */
}

.accordionBtn{
  display: flex;
  flex-direction: row-reverse ;
  justify-content: space-between !important;
  align-items: center;
}


.accordionBody {
  background: #f7f7f7;
  color: black;
}
/* .accordionBtn.collapsed::before,
.accordionBtn:not(.collapsed)::before  {
  margin:auto !important;
} */
